
<h1><%= t('portal.student.title') %></h1>
<div class="card-header py-3">
  <div class="row">
      <div class="col-md-8">
          <a href="<%= new_student_path %>" class="btn btn-info">
              <i class="fa fa-plus"></i>
          </a>
          <a href="<%= upload_students_path %>" class="btn btn-info">
              <i class="fa fa-upload"></i>
          </a>
          <%= link_to content_tag(:span,'', class: 'fa fa-trash-alt'), delete_all_students_path ,data: {:confirm => t('portal.forms.delete_all.confirm')}, :method => :delete, :class => 'btn btn-danger' %>
      <a href="/students/export_all.pdf" class="btn btn-info" target="_blank">
          <i class="fa fa-id-badge"></i>
      </a>
    </div>
  </div>
</div>
 <div class="card-body">
  <div class="table-responsive">
    <table class="table table-bordered dataTable">
      <thead>
        <tr>
          <th><%= t('portal.student.sid') %></th>
          <th><%= t('portal.student.student_name') %></th>
          <th><%= t('portal.student.tawaklna_s') %></th>
          <% if current_user.has_role? :Admin %>
          <th><%= t('portal.student.school') %></th>
          <% end %>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @students.each do |student| %>
          <tr>
            <td><%= student.sid %></td>
            <td><%= student.name %></td>
            <td><%=  t(student.tawaklna_s, scope: 'portal.student.status') %></td>
            <% if current_user.has_role? :Admin %>
            <td><%= student.school.name %></td>
            <% end %>
            <td><%= link_to t('portal.forms.show'), student %></td>
            <td><%= link_to t('portal.forms.edit'), edit_student_path(student) %></td>
            <td><%= link_to t('portal.forms.delete_i'), student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
</div>
  <%= render partial: 'layouts/nav', locals: {pagy: @pagy} %>
<br>

