<div class="card-header py-3">
  <div class="row">
      <div class="col-md-8">
          <a href="<%= students_path %>" class="btn btn-info">
              <i class="fa fa-list"></i>
          </a>
          <a href="<%= edit_student_path(@student) %>" class="btn btn-info">
              <i class="fa fa-pen"></i>
          </a>
          <a href="/students/<%= @student.id%>.pdf" class="btn btn-info" target="_blank">
            <i class="fa fa-id-badge"></i>
          </a>
    </div>
  </div>
</div>
<br/>
<div class="row">

    <div class="form-group col-md-6">
        <%= t('portal.student.sid')  %><br />
        <%= @student.sid %>
    </div>

    <div class="form-group col-md-6">
        <%= t('portal.student.student_name')  %><br />
        <%= @student.name %>
    </div>

</div>

<div class="row">

    <div class="form-group col-md-6">
        <%= t('portal.student.tawaklna_s')  %><br />
        <%=  t(@student.tawaklna_s, scope: 'portal.student.status') %>
    </div>

  <% if current_user.has_role? :Admin %>
      <div class="form-group col-md-6">
          <%= t('portal.student.school_id')  %><br />
          <%= @student.school_id %>
      </div>
  <% end %>
</div>


<div class="row">

    <div class="form-group col-md-12 text-center">
        <%= t('portal.student.qrcode')  %><br />
        <img src="<%= url_for (@student.qrimage) %>" />
    </div>

  
</div>



