
<h1><%= t('portal.users.title') %></h1>

<div class="card-body">
  <div class="table-responsive">
    <table class="table table-bordered dataTable">

  <thead>
    <tr>
      <th><%= t('portal.users.id') %></th>
      <th><%= t('portal.users.name') %></th>
      <th><%= t('portal.users.email') %></th>
      <th><%= t('portal.users.role') %></th>
      <th><%= t('portal.users.school') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.roles_mask %></td>
        <td><%= user.school_id != nil ? user.school.name : "" %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>

<br>

<%= link_to 'New user', new_user_path %>
