
<p class="breadcrumb p-2">
  <strong><%= t('portal.users.id') %> : </strong>&nbsp;
  <span> <%= @user.id %> </span>
</p>

<p class="breadcrumb p-2">
  <strong><%= t('portal.users.name') %> :  </strong>&nbsp;
  <span> <%= @user.name %> </span>
</p>

<p class="breadcrumb p-2">
  <strong><%= t('portal.users.email') %> :  </strong>&nbsp;
  <span> <%= @user.email %> </span>
</p>

<p class="breadcrumb p-2">
  <strong><%= t('portal.users.school') %> : </strong>&nbsp;
  <span> <%= @user.school_id != nil ? @user.school.name : '' %> </span>
</p>

<p class="breadcrumb p-2">
  <strong><%= t('portal.users.role') %> : </strong>&nbsp;
  <span> <%= @user.roles_mask != nil ? @user.roles_mask : '' %> </span>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
